{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}" style="display: flex; align-items: center; gap: 10px; text-decoration: none;">
        <img src="/assets/ab4f449639117ccdc01dd29c.svg" alt="Hines Logo" style="height: 30px; width: auto;">
        <span>{{ site_header|default:_('Django administration') }}</span>
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
